body, td, p
        {
	color : #aaaaaa;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        }

.pNormal
        {
	color : #aaaaaa;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        }

.selectedNav {
        font-family: arial, helvetica, sans-serif;
        color: #7b5600;
        font-weight: bold;
        font-size: 12px;
        }
 
.normalNav {
        font-family: arial, helvetica, sans-serif;
        color : #dbb600;
        font-weight: normal;
        font-size: 12px;
        }
 
.newsDate {
	color : #aaaaaa;
        font-family: arial, helvetica, sans-serif;
        font-size: 10px;
        font-weight: normal;
        }
 
.justify {
	color : #aaaaaa;
        font-family: arial, helvetica, sans-serif;
        text-align:justify;
        font-size:12px;
        }

.lbfooter {
	color : #aaaaaa;
        font-family: arial, helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
        }
h1
	{
        color: #aaaaaa;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight :  bold;
	}

h2
	{
        color: #aaaaaa;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight :  bold;
	}

h3
	{
        color: #aaaaaa;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight :  bold;
	margin-right : 25px;
	}

h4
	{
        color: #aaaaaa;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	}

h5
	{
	color: #aaaaaa;
	font: Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	padding-top: 10px;
	padding-right: 5px;
	text-align : right;
	}

form
	{
	margin-right : 0px;
	font-style: normal;
        font-variant: normal;
	color : #aaaaaa;
	font-family : helvetica, arial, sans-serif;
	font-size : 12px;
	}

strong
	{
	font-weight : bold;
	margin-right : 0px;
	font-style: normal;
        font-variant: normal;
	color : #aaaaaa;
	font-family : helvetica, arial, sans-serif;
	font-size : 12px;
	}

ul
	{
	color : #aaaaaa;
	font-family : arial, helvetica, sans-serif;
	font-size : 12px;
	font-weight :  normal;
	list-style-type :  square;
	}
li
	{
        color: #aaaaaa;
	font-family : arial, helvetica, sans-serif;
	font-size: 12px;
	}

ol
	{
	margin-right : 25px;
	color : #aaaaaa;
	font-family : arial, helvetica, sans-serif;
	font-size : 14px;
	font-weight :  normal;
	margin-left :  0px;
	list-style-type :  square;
	}

news_archiv
	{
	color : #aaaaaa;
	font-family : arial, helvetica, sans-serif;
	font-size : 14px;
	letter-spacing : 1px;
	text-decoration : none;
	}

a:link
	{
	color : #dbb600;
	font-family : arial, helvetica, sans-serif;
	text-decoration : none;
	}

a:visited
	{
	color : #dbb600;
	font-family : arial, helvetica, sans-serif;
	text-decoration : none;
	}


a:hover
	{
	color : #7b5600;
	font-family : arial, helvetica, sans-serif;
	text-decoration : underline;
	}

plaintext
	{
	margin-right : 25px;
	color : #aaaaaa;
	font-family : arial, helvetica, sans-serif;
	font-size : 14px;
	line-height : 15px;
	}

formtext
	{
	color : #aaaaaa;
	font-family : arial, helvetica, sans-serif;
	font-size : 14px;
	}
